<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'polls/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'polls/css/volleyball.css'%}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'polls/img/favicon.ico'%}">
    <meta charset="UTF-8">
    <title>Volleyball</title>
</head>
    <header class="heade">
        <div class="logo">
            <a href="/">
                <img src="{% static 'polls/img/logo.svg'%}" width="50px" height="50px">
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/basket">Для баскетбола</a> </li>
                <li><a href="/volley">Для волейбола</a> </li>
                <li><a href="/delivery">Доставка</a> </li>
                <li><a href="/feedback">Отзывы</a> </li>
            </ul>
        </div>
        <div class="tel">
            <a href="tel: +79031155674">+7 (903) 115-56-74</a>
        </div>
    </header>

<body>
    <div>Обратная связь</div>
    {% for feedback in feedback %}
    <div>Кто написал:</div>
    <div>{{ feedback.email }}</div>
    <div>Что написал:</div>
    <div>{{ feedback.text }}</div>
    {% endfor %}
    <footer>
        <p>&copy; 2023 B&V Sneakers</p>
    </footer>
</body>
</html>